StreamEnergy.Services/Service References/Sample.Commons/samplecommons.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.example.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://www.example.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.example.com/webservices/">
      <s:element name="GetInvoices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Invoice" type="tns:Invoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Invoice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceAmount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DueDate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="IsPaid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CanRequestExtension" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInvoicesSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoices" />
  </wsdl:message>
  <wsdl:message name="GetInvoicesSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoicesResponse" />
  </wsdl:message>
  <wsdl:portType name="SampleStreamCommonsSoap">
    <wsdl:operation name="GetInvoices">
      <wsdl:input message="tns:GetInvoicesSoapIn" />
      <wsdl:output message="tns:GetInvoicesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SampleStreamCommonsSoap" type="tns:SampleStreamCommonsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInvoices">
      <soap:operation soapAction="http://www.example.com/webservices/GetInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleStreamCommons">
    <wsdl:port name="SampleStreamCommonsSoap" binding="tns:SampleStreamCommonsSoap">
      <soap:address location="http://www.example.com/webservices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>