StreamEnergy.Services/Service References/StreamEnergyBilling.IstaTokenization/CIS.Clients.Stream.SelfService.Services.Contracts.Data1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CIS.Clients.Stream.SelfService.Services.Contracts.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CIS.Clients.Stream.SelfService.Services.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetUrlRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element name="AuthId" nillable="true" type="xs:string" />
      <xs:element name="AuthPwd" nillable="true" type="xs:string" />
      <xs:element name="CustomerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DesignatedCustomer" nillable="true" type="xs:string" />
      <xs:element name="Language" nillable="true" type="xs:string" />
      <xs:element name="Source" nillable="true" type="xs:string" />
      <xs:element name="StateAbbrev" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUrlRequest" nillable="true" type="tns:GetUrlRequest" />
</xs:schema>